body {
    background: rgb(75, 170, 187);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
    margin: auto;
}

#lista {
    width: 30%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 15px
}